%p#notice= notice

%p
  %b Product code:
  = @rule_by_one_get_one_free.product_code

= link_to 'Edit', edit_rule_by_one_get_one_free_path(@rule_by_one_get_one_free)
\|
= link_to 'Back', rule_by_one_get_one_frees_path
