.col-lg-6

  = form_tag(checkout_scan_path, remote: true) do
    = render partial: 'offers/tester/rules'
    = render partial: 'offers/tester/products'

.col-lg-6
  #checkoutpartial= render partial: 'offers/tester/checkout'
