.col-lg-6

  = form_tag(checkout_scan_path, remote: true) do
    = render partial: 'rules'
    = render partial: 'products'

.col-lg-6
  #checkoutpartial
    = render partial: 'checkout', locals: {co: @co}
